@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<h1>Create a post</h1>

<form class = "input" action="/posts/create" method="POST">

    <label>
      
        <input type="text" name="UserId" placeholder="UserId"> 
    </label>
   
    <label>
 
        <input type="text" name="Message" placeholder="Message">
        
    </label>
   <label >
         
        <input type="text" name="ImageUrl" placeholder="Image URL">
    </label>

    <input type="submit" name="Submit" class="button formatbutton">

</form>