@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<form action="/posts/create" method="POST">

    <label>
         User ID 
        <input type="text" name="UserID" placeholder="User ID"> 
    </label>
   
    <label>
        Message
        <input type="text" name="Message" placeholder="Message">
        
    </label>
   <label >
         
        <input type="text" name="ImageUrl" placeholder="Image URL">
    </label>

    <input type="submit" name="Submit">

</form>