@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}

<ol>
    @foreach (var post in Model.Posts)
    {
        <li>@post.Message</li>
        <li><img src=" @post.ImageUrl" alt=""></li>
        <li>@post.PostedAt</li>
    }
</ol>