@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}
<header><h1>Coding Club</h1></header>

<ol>
    @foreach (var post in Model.Posts)
    {
        <li>
        @post.Message
        <img src=" @post.ImageUrl" alt="">
        @post.PostedAt
        </li>
    }
</ol>

