@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}
<header><h1>My Face</h1></header>

<h4>News Feed</h4>

<ol class="posts">
    @foreach (var post in Model.Posts)
    {
        <li>
        @post.Message <br>
        <img src=" @post.ImageUrl" alt=""><br>
        @post.PostedAt<br>
        </li>
    }
</ol>

<button class="button"><a href="/posts?pageNumber=2">Next Page</a></button>

