<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFace</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <partial name="_Nav"/>
</header>
<div>
    <div id="mobile-menu">
        <button id="mobile-menu-button" class="mobile-menu-button"><span class="burger-icon"></span></button>
        <div class="mobile-menu-overlay" id="menu-overlay">
            <div class="menu-container">
                <partial name="_Nav"/>
                <div class="menu-logos">
                    <img class="logo-image" src="/images/corndel-logo.png" alt="Corndel logo">
                    <img class="logo-image" src="/images/softwire-logo.png" alt="Softwire logo">
                </div>
            </div>
        </div>
    </div>
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer>
    <div class="footer-content">
        <img class="logo-image" src="/images/corndel-logo.png" alt="Corndel logo">
        <img class="logo-image" src="/images/softwire-logo.png" alt="Softwire logo">
    </div>
</footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
