@model IEnumerable<MyFace.Models.View.PostViewModel>

<ol class="post-list">
    @foreach (var post in Model)
    {
        <li class="post">
            <img class="post-image" src="@post.ImageUrl"  alt="">
            <div class="post-details">
                <a class="post-user-link" href="/users/@post.PostedBy.Id">@post.PostedBy.Username</a>
                <div class="post-time">@post.FormattedTimeSincePost</div>
                <p class="post-message">@post.Message</p>                
            </div>
        </li>
    }
</ol>