@{
    Layout = "_Layout";
}

<header><h1>Coding Club</h1></header>

<h1>Welcome to the home page.</h1>


<a href="facebook.com">Facebook</a>

<img src="https://previews.123rf.com/images/halfpoint/halfpoint1303/halfpoint130300391/18730371-handsome-young-man-with-tablet-is-using-social-media.jpg" alt="Social Media Man">

<ul>
    <li>We love code</li>
    <li>Say hello</li>
    <li>Hi everyone</li>
    <li>We love code</li>
</ul>


<img src="https://i.pinimg.com/474x/76/62/74/76627426d70435e88eda4ae24c2d83e3--digital-marketing-seo.jpg" alt="cat">
