@import "shared";

footer {
  background: $backgroundColorDarker;
  border-top: 1px solid $foregroundColor;
  
  .footer-content {
    @include gutters;
    padding: $spacingMobile 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    @media (min-width: $tablet) {
      justify-content: space-between;
      flex-wrap: nowrap;
      padding: $spacingTablet 0;
    }
    
    @media (min-width: $desktop) {
      padding: $spacingDesktop 0;
    }
  }
  
  .logo-image {
    width: 160px;
    margin: $spacingMobile 25%;
    
    @media (min-width: $tablet) {
      margin: $spacingTablet;
    }

    @media (min-width: $desktop) {
      width: 200px;
      margin: $spacingDesktop;
    }
  }
}