@import "shared";

.nav-link {
  @include linkText;
}

header {
  background: $backgroundColorDarker;
  
  .nav-bar {
    display: none;

    @media (min-width: $desktop) {
      @include gutters;
      height: $headerHeight;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    
    .nav-link {
      margin: 0 $spacingDesktop/2;
    }
  }
}

#mobile-menu {
  @media (min-width: $desktop) {
    display: none;
  }
  
  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1;
    transform: translateX(100vw);
    transition: all ease 200ms;
    overscroll-behavior: contain;
    overflow: hidden;
  }
  
  @mixin burgerIconLine() {
    background: $foregroundColor;
    transition: 200ms all ease;
    content: '';
    height: 2px;
    width: 20px;
    clear: right;
    float: right;
  }
  
  .mobile-menu-button {
    position: fixed;
    top: $guttersMobile;
    right: $guttersMobile;
    border: none;
    outline: none;
    background: none;
    z-index: 3;
    
    .burger-icon {
      margin-top: 10px;
      @include burgerIconLine;

      &:before {
        @include burgerIconLine;
        margin-top: -6px;
      }

      &:after {
        @include burgerIconLine;
        margin-top: 6px;
      }
    }
  }
  
  .menu-container {
    z-index: 2;
    height: 100vh;
    width: 80vw;
    margin-left: 20vw;
    background: $backgroundColorDarker;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    margin-top: 80px;
  }
  
  .nav-links li {
    padding-top: $spacingMobile/2;
    padding-bottom: $spacingMobile/2;
  }
  
  .menu-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .logo-image {
    width: 60%;
    margin: $spacingMobile;
  }

  &.open {
    .mobile-menu-overlay {
      background: $overlayColor;
      transform: translateX(0);
      backdrop-filter: blur(4px);
    }
    
    .burger-icon {
      background: transparent;

      &:before,
      &:after {
        width: 25px;
        margin-top: -2px;
        margin-right: -3px;
      }
      
      &:before {
        transform: rotate(45deg);
      }
      
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}


