.nav-link {
  font-size: 20px;
  line-height: 32px;
  color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  text-decoration: none;
}

@media (min-width: 769px) {
  .nav-link {
    font-size: 24px;
    line-height: 40px;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
  }
}

.nav-link:hover {
  color: #2985FF;
}

header {
  background: #151820;
}

header .nav-bar {
  display: none;
}

@media (min-width: 769px) {
  header .nav-bar {
    margin-left: 24px;
    margin-right: 24px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 769px) and (min-width: 600px) {
  header .nav-bar {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (min-width: 769px) and (min-width: 769px) {
  header .nav-bar {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (min-width: 769px) and (min-width: 1296px) {
  header .nav-bar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .nav-links .nav-link {
  margin: 0 12px;
}

@media (min-width: 769px) {
  #mobile-menu {
    display: none;
  }
}

#mobile-menu .mobile-menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
  overscroll-behavior: contain;
  overflow: hidden;
}

#mobile-menu .mobile-menu-button {
  position: fixed;
  top: 24px;
  right: 24px;
  border: none;
  outline: none;
  background: none;
  z-index: 3;
}

#mobile-menu .mobile-menu-button .burger-icon {
  margin-top: 10px;
  background: #DCDCDC;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  content: '';
  height: 2px;
  width: 20px;
  clear: right;
  float: right;
}

#mobile-menu .mobile-menu-button .burger-icon:before {
  background: #DCDCDC;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  content: '';
  height: 2px;
  width: 20px;
  clear: right;
  float: right;
  margin-top: -6px;
}

#mobile-menu .mobile-menu-button .burger-icon:after {
  background: #DCDCDC;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  content: '';
  height: 2px;
  width: 20px;
  clear: right;
  float: right;
  margin-top: 6px;
}

#mobile-menu .menu-container {
  z-index: 2;
  height: 100vh;
  width: 80vw;
  margin-left: 20vw;
  background: #151820;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mobile-menu .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-top: 80px;
}

#mobile-menu .nav-links li {
  padding-top: 8px;
  padding-bottom: 8px;
}

#mobile-menu .menu-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#mobile-menu .logo-image {
  width: 60%;
  margin: 16px;
}

#mobile-menu.open .mobile-menu-overlay {
  background: rgba(37, 42, 56, 0.56);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

#mobile-menu.open .burger-icon {
  background: transparent;
}

#mobile-menu.open .burger-icon:before, #mobile-menu.open .burger-icon:after {
  width: 25px;
  margin-top: -2px;
  margin-right: -3px;
}

#mobile-menu.open .burger-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#mobile-menu.open .burger-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

footer {
  background: #151820;
  border-top: 1px solid #DCDCDC;
}

footer .footer-content {
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  footer .footer-content {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (min-width: 769px) {
  footer .footer-content {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (min-width: 1296px) {
  footer .footer-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 600px) {
  footer .footer-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 16px 0;
  }
}

@media (min-width: 769px) {
  footer .footer-content {
    padding: 24px 0;
  }
}

footer .logo-image {
  width: 160px;
  margin: 16px 25%;
}

@media (min-width: 600px) {
  footer .logo-image {
    margin: 16px;
  }
}

@media (min-width: 769px) {
  footer .logo-image {
    width: 200px;
    margin: 24px;
  }
}

#hero-section {
  position: relative;
  margin-bottom: 96px;
}

@media (min-width: 600px) {
  #hero-section {
    margin-bottom: 128px;
  }
}

@media (min-width: 769px) {
  #hero-section {
    margin-bottom: 180px;
  }
}

@media (min-width: 1200px) {
  #hero-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

#hero-section .cover-image {
  height: 224px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 600px) {
  #hero-section .cover-image {
    height: auto;
  }
}

#hero-section .user-summary {
  background: rgba(37, 42, 56, 0.56);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  right: 0;
  bottom: -56px;
  left: 84px;
}

@media (min-width: 600px) {
  #hero-section .user-summary {
    bottom: -80px;
    left: 116px;
  }
}

@media (min-width: 769px) {
  #hero-section .user-summary {
    bottom: -100px;
    left: 152px;
  }
}

#hero-section .profile-image {
  height: 112px;
  width: 112px;
  border-radius: 50%;
  border: 4px solid #DCDCDC;
  margin-left: -60px;
}

@media (min-width: 600px) {
  #hero-section .profile-image {
    height: 160px;
    width: 160px;
    margin-left: -84px;
  }
}

@media (min-width: 769px) {
  #hero-section .profile-image {
    height: 200px;
    width: 200px;
    margin-left: -104px;
  }
}

#hero-section .user-details {
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  #hero-section .user-details {
    margin-left: 16px;
  }
}

@media (min-width: 769px) {
  #hero-section .user-details {
    margin-left: 24px;
  }
}

#hero-section .user-name {
  font-size: 24px;
  line-height: 32px;
  color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
  margin-top: 8px;
  margin-bottom: 4px;
}

@media (min-width: 769px) {
  #hero-section .user-name {
    font-size: 32px;
    line-height: 40px;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
  }
}

#hero-section .username-and-email {
  margin-top: 4px;
}

#hero-section .user-username, #hero-section .user-email {
  font-size: 14px;
  line-height: 20px;
  color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 769px) {
  #hero-section .user-username, #hero-section .user-email {
    font-size: 16px;
    line-height: 24px;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
  }
}

.post-list-section {
  margin-left: 24px;
  margin-right: 24px;
}

@media (min-width: 600px) {
  .post-list-section {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (min-width: 769px) {
  .post-list-section {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (min-width: 1296px) {
  .post-list-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.post-list-section .post-list-title {
  font-size: 20px;
  line-height: 24px;
  color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 769px) {
  .post-list-section .post-list-title {
    font-size: 24px;
    line-height: 32px;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
  }
}

.post-list-section .post-list {
  margin: 16px -24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
}

@media (min-width: 600px) {
  .post-list-section .post-list {
    margin: 16px -32px;
  }
}

@media (min-width: 769px) {
  .post-list-section .post-list {
    margin: 0px -24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: hidden;
  }
}

.post-list-section .post-list .post:first-child {
  margin-left: 24px;
}

@media (min-width: 600px) {
  .post-list-section .post-list .post:first-child {
    margin-left: 32px;
  }
}

@media (min-width: 769px) {
  .post-list-section .post-list .post:first-child {
    margin-left: 24px;
  }
}

.post-list-section .post {
  min-width: calc(100% - 72px);
  margin: 0 12px;
  background: #151820;
}

@media (min-width: 600px) {
  .post-list-section .post {
    min-width: calc(50% - 96px);
    margin: 0 16px;
  }
}

@media (min-width: 769px) {
  .post-list-section .post {
    min-width: calc(50% - 48px);
    max-width: calc(50% - 48px);
    margin: 24px;
  }
}

@media (min-width: 1296px) {
  .post-list-section .post {
    min-width: calc(100%/3 - 48px);
    max-width: calc(100%/3 - 48px);
  }
}

.post-list-section .post-details {
  padding: 16px;
}

.post-list-section .post-user-link {
  font-size: 14px;
  line-height: 20px;
  color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

@media (min-width: 769px) {
  .post-list-section .post-user-link {
    font-size: 16px;
    line-height: 24px;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
  }
}

.post-list-section .post-user-link:hover {
  color: #2985FF;
}

.post-list-section .post-time {
  font-size: 10px;
  line-height: 16px;
  color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

@media (min-width: 769px) {
  .post-list-section .post-time {
    font-size: 12px;
    line-height: 20px;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
  }
}

.post-list-section .post-message {
  font-size: 14px;
  line-height: 20px;
  color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
  margin-top: 16px;
}

@media (min-width: 769px) {
  .post-list-section .post-message {
    font-size: 16px;
    line-height: 24px;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
  }
}

@media (min-width: 600px) {
  .post-list-section .post-message {
    margin-top: 16px;
  }
}

@media (min-width: 769px) {
  .post-list-section .post-message {
    margin-top: 24px;
  }
}

.post-list-section .show-more-link {
  font-size: 20px;
  line-height: 32px;
  color: #DCDCDC;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  text-decoration: none;
}

@media (min-width: 769px) {
  .post-list-section .show-more-link {
    font-size: 24px;
    line-height: 40px;
    color: #DCDCDC;
    font-family: 'Open Sans', sans-serif;
  }
}

.post-list-section .show-more-link:hover {
  color: #2985FF;
}

body {
  margin: 0;
  background: #252A38;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

h1, h2, p {
  margin: 0;
}

section {
  margin-bottom: 40px;
}

@media (min-width: 600px) {
  section {
    margin-bottom: 48px;
  }
}

@media (min-width: 769px) {
  section {
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=site.css.map */