@import "shared";
@import "header";
@import "footer";
@import "hero";
@import "postList";

body {
  margin: 0;
  background: $backgroundColor;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

h1, h2, p {
  margin: 0;
}

section {
  margin-bottom: $sectionSpacingMobile;
  
  @media (min-width: $tablet) {
    margin-bottom: $sectionSpacingTablet;
  }

  @media (min-width: $desktop) {
    margin-bottom: $sectionSpacingDesktop;
  }
}